.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font: inherit;
    background-color: white;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.InputElement:focus{
    background-color: #ccc;
    outline: none;
}

.Invalid{
    background-color: lightsalmon;
    border: 1px solid orangered;
}

.ValidationError{
    color: red;
    margin: 6px 0;
}